<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<body>
<div class="content-wrapper" style="min-height: 330px; padding-top: 6em;"
     th:fragment="default">
    <div id="content"
         style="width: 30%; text-align: center; padding: 3em;
             margin-left: 35%; border: 1px solid #8AA4AF; border-radius: 0.4em">
        <i class="fa fa-book" style="font-size: 2em;"></i>

    <h3 th:text="#{book-add.add-new-book}">Add new book</h3>

        <form method="POST" th:object="${book}">
            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}">Input is incorrect
                    </li>
                </ul>
            </div>
            <div class="form-group">
            <label th:class="${#fields.hasErrors('ISBN')}? 'error'"
                   th:text="#{book.ISBN}">
                ISBN</label>:
            <input type="text" th:field="*{ISBN}" id="book-isbn"
                   th:class="${#fields.hasErrors('ISBN')}? 'error'"/><br/>
                </div>
                <div class="form-group">
            <label th:class="${#fields.hasErrors('title')}? 'error'"
                   th:text="#{book.title}">
                Title</label>:
            <input type="text" th:field="*{title}" id="book-title"
                   th:class="${#fields.hasErrors('title')}? 'error'"/><br/>
                </div>
            <div class="form-group">
            <label th:class="${#fields.hasErrors('price')}? 'error'" th:text="#{book.price}">
                Price</label>:
            <input type="text" th:field="*{price}" id="book-price"
                   th:class="${#fields.hasErrors('price')}? 'error'"/><br/>
            </div>
            <div class="form-group">
            <label th:class="${#fields.hasErrors('summary')}? 'error'"
                   th:text="#{book.summary}">
                Summary</label>:
            <input type="text" th:field="*{summary}" id="book-summary"
                   th:class="${#fields.hasErrors('summary')}? 'error'"/><br/>
            </div>
            <div class="form-group">
            <label th:class="${#fields.hasErrors('author')}? 'error'"
                   th:text="#{book.author}">
                Author</label>:
            <input type="text" th:field="*{author}" id="book-author"
                   th:class="${#fields.hasErrors('author')}? 'error'"/><br/>
            </div>
            <input type="submit" th:value="#{book.submit-book}" class="btn btn btn-primary"
                   id="book-submit"/>
        </form>
</div>
</div>

</body>
</html>