<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<body>
<section class="content-header"  th:fragment="default">
    <h1 th:text="#{book-add.add-new-book}">Add new book</h1>
    <div>
        <form method="POST" th:object="${book}">
            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <label th:class="${#fields.hasErrors('ISBN')}? 'error'">
                ISBN</label>:
            <input type="text" th:field="*{ISBN}" id="book-isbn"
                   th:class="${#fields.hasErrors('ISBN')}? 'error'" /><br/>
            <label th:class="${#fields.hasErrors('title')}? 'error'">
                Title</label>:
            <input type="text" th:field="*{title}" id="book-title"
                   th:class="${#fields.hasErrors('title')}? 'error'" /><br/>

                <input type="submit" th:value="#{book.submit-book}"
            id="book-submit" />
        </form>
    </div>
</section>

</body>
</html>