<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<body>
<section class="content-header" th:fragment="default">
    <h1 th:text="${bookDetails.title}" id="book-title">Book Title</h1>
    <a th:href="@{'/cart/add-book/' + ${bookDetails.ISBN}}"
       id="add-to-cart"><span
            th:text="#{book-view.add-to-cart}">Add to cart</span></a>
    <div>
        <h1>
            <small th:text="${bookDetails.ISBN}" id="book-isbn">
                Book ISBN
            </small>
            <small th:text="${bookDetails.price}" id="book-price">
                Book price
            </small>
            <small th:text="${bookDetails.summary}" id="book-summary">
                Book summary
            </small>
            <small th:text="${bookDetails.author}" id="book-author">
                Book author
            </small>
        </h1>
    </div>
</section>

</body>
</html>
