<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<body>
<section class="sidebar" th:fragment="left-menu">
    <div th:replace="fragments/navigation/book-search :: default">book
        -search
    </div>
    <div th:replace="fragments/navigation/user-management :: default">book
        -search
    </div>
    <div th:replace="fragments/navigation/cart-management :: default">book
        -search
    </div>
    <div th:replace="fragments/navigation/book-management :: default">book
        -search
    </div>
</section>
</body>
</html>