<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<body>
<ul class="sidebar-menu" th:fragment="default">
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
                        <span th:text="#{home.cart-management}">
                            Cart management
                        </span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a th:href="@{/cart/view}">
                    <i class="fa fa-circle-o"></i>
                                <span th:text="#{home.cart-view}">
                                    Cart view
                                </span>
                </a>
            </li>
            <li>
                <a th:href="@{/cart/order}">
                    <i class="fa fa-circle-o"></i>
                                <span th:text="#{home.cart-order}">
                                    Cart order
                                </span>
                </a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>